
@using ParsHabr.Models
@model IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Новости</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="text-center">
        <h5 class="display-4">Новостная лента</h5>
    </div>
    <form method="get">
        <div class="col-md-4">
            <label for="source">Источник ленты</label>
            <select id="source" name="sourceName" class="form-control">
                @{ if (Model.filter == "all" || String.IsNullOrEmpty(Model.filter))
                    {
                        @:<option value="all" selected>Все</option>;
                    }
                    else
                    {
                        @:<option value="all">Все</option>;
                    } }
                @{ if (Model.filter == "Interfax")
                    {
                        @:<option value="Interfax" selected>Interfax</option>;
                    }
                    else
                    {
                        @:<option value="Interfax">Interfax</option>;
                    } }
                @{ if (Model.filter == "HabraHabr")
                    {
                        @:<option value="HabraHabr" selected>HabraHabr</option>;
                    }
                    else
                    {
                        @:<option value="HabraHabr">HabraHabr</option>;
                    } }
                @*@foreach (var item in ViewBag.Sources)
        {
            <option value="@item.Name">@item.Name</option>
        }*@
            </select>
        </div>
        <br />
        <div class="col-md-6">
            <label for="chooseSortSource">Сортировать по источнику</label>
            @{ if (Model.sort == "source" || String.IsNullOrEmpty(Model.sort))
                {
                    <input id="chooseSortSource" type="radio" value="source" name="sortRadio" checked />
                }
                else
                {
                    <input id="chooseSortSource" type="radio" value="source" name="sortRadio" />
                } }
            &nbsp;
            <label for="chooseSortDate">Сортировать по дате</label>
            @{ if (Model.sort == "date")
                {
                    <input id="chooseSortDate" type="radio" value="date" name="sortRadio" checked />
                }
                else
                {
                    <input id="chooseSortDate" type="radio" value="date" name="sortRadio" />
                } }
            @*<input id="chooseSortSource" type="radio" value="source" name="sortRadio" checked />*@

            @*<input id="choosleSortDate" type="radio" value="date" name="sortRadio" />*@
        </div>
        <input  value="@Model.PageViewModel.PageNumber" name="page" hidden/>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Получить</button>
        </div>
    </form>
    <br />
    <div class="col-md-12">
        <table class="table" style="table-layout: fixed;width: 100%;">
            <thead class="thead-dark">
                <tr>
                    <th>Источник</th>
                    <th>Название новости</th>
                    <th>Описание новости</th>
                    <th>Дата публикациии</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.News)
                {
                    <tr>
                        <td>@item.SourceName</td>
                        <td>@item.Name</td>
                        <td><div style="height:200px; overflow:scroll">@item.Descr</div></td>
                        <td>@item.DatePubl</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
    <div class="col-md-12 text-center">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               asp-route-sourceName="@(Model.filter)"
               asp-route-sortRadio="@(Model.sort)"
               class="btn btn-outline-info">
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               asp-route-sourceName="@(Model.filter)"
               asp-route-sortRadio="@(Model.sort)"
               class="btn btn-outline-info">
                Вперед
            </a>
        }
    </div>
    <br />
</body>
</html>